streamlit==1.38.0
pinecone-client==5.0.1
sentence-transformers==3.0.1
pypdf==4.3.1
pdfplumber==0.11.4
langchain==0.2.16
langchain-text-splitters==0.2.4
groq==0.11.0
openai==1.45.0
python-dotenv==1.0.1
tiktoken==0.7.0
pandas==2.2.2
numpy==1.26.4
